<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="keepAlive" 
                 type="KeepAlive.KeepAliveSection,KeepAlive"
                 allowLocation="true"
                 allowDefinition="Everywhere"
                 />
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

    <!-- Keep alive interval in seconds. -->
    <keepAlive interval="1000">
        <site name="Carl's Guids" url="http://cals-guids.winterific.com" active="true" />
    </keepAlive>
    
</configuration>